{% extends 'layout/main.twig' %}

{% block title %}Создание поста{% endblock %}

{% block mainContent %}
    <div class="container container--blog">
        <section class="section">
            <main class="main">
                <h2 class="section__header title">Авторизация</h2>

                <form enctype="multipart/form-data" action="/message/create" method="POST" class="form">
                    <div class="form__row">
                        <div class="form__cell">
                            <label class="form__label">
                                <div class="form__cell-title">Текст:</div>
                                <textarea name="content" class="form__input form__input--textarea"></textarea>
                            </label>
                        </div>
                    </div>

                    <div class="form__row">
                        <div class="form__cell">
                            <label class="form__label">
                                <div class="form__cell-title">Текст:</div>
                                <input type="file" name="image" class="form__file" id="img">
                            </label>
                        </div>
                    </div>

                    <div class="form__row">
                        <div class="form__cell">
                            <label class="form__label">
                                <button class="form__button button" type="submit">Создать</button>
                            </label>
                        </div>
                    </div>
                </form>
            </main>
        </section>
    </div>
{% endblock %}