.form{
    display: flex;
    flex-direction: column;
}

.form__row{
    display: flex;
    flex-direction: row;
}

.form__cell{
    display: flex;
    flex-direction: column;
    margin-right: 6px;
}